@inherits LayoutComponentBase

<div class="login-layout">
    @Body
</div>

<style>
    .login-layout {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Ocupa toda la altura de la ventana */
        background-color: #f5f5f5; /* Color de fondo */
    }
</style>