<ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AuthGuard>
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ESFE AGAPE BODEGA</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lista-rol">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lista Roles
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lista-usuario">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lista Usuarios
            </NavLink>
        </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="lista-bodega">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Lista Bodega
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="lista-estante">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Lista Estantes
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="lista-paqueteActivo">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Lista Paquetes Activos
                </NavLink>
            </div>
    </nav>
</div>
</ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AuthGuard>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
