@page "/crear-rol"

@using ESFE_AGAPE_BODEGA.DTOs.RolDTOs
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components;
@using ESFE_AGAPE_BODEGA.BlazorWebAssembly.DataService

@if (isSuccess == false && isError == false)
{
    <h3>Crear Nuevo Rol</h3>

    <EditForm Model="rol" OnValidSubmit="Create">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="Nombre">Nombre:</label>
                    <InputText class="form-control" id="Nombre" @bind-Value="rol.Nombre" />
                    <ValidationMessage For="() => rol.Nombre" />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="Descripcion">Descripcion:</label>
                    <InputText class="form-control" id="Descripcion" @bind-Value="rol.Descripcion" />
                    <ValidationMessage For="() => rol.Descripcion" />
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <NavLink href="/lista-rol" class="btn btn-secondary">Cancelar</NavLink>
            </div>
        </div>
    </EditForm>
}
else if (isSuccess)
{
    rol = new CrearRolDto();
    isError = false;
    <p class="alert alert-success">Rol creado con éxito.</p>
    <button type="button" @onclick="GoCreate" class="btn btn-primary">Ir a crear</button>
    <NavLink href="/lista-rol" class="btn btn-primary">Ir a buscar roles</NavLink>
}
else if (isError)
{
    <p class="alert alert-success">sucedio un error al intentar registrar.</p>
    <NavLink href="/lista-rol" class="btn btn-primary">Aceptar</NavLink>
}

@code {
    [Inject]
    RolService rolService { get; set; }

    CrearRolDto rol = new CrearRolDto();
    bool isSuccess = false;
    bool isError = false;

    private async Task Create()
    {
        int result = await rolService.CrearRol(rol);
        if (result != 0)
            isSuccess = true;
        else
            isError = true;
    }

    private void GoCreate()
    {
        isSuccess = false;
        isError = false;
    }
}