@page "/crear-rol"

@using ESFE_AGAPE_BODEGA.DTOs.RolDTOs
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components;
@using ESFE_AGAPE_BODEGA.BlazorWebAssembly.DataService
<ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AuthGuard>
    <ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AutorizacionPorRol Roles='new List<string> { "Admin", "SusAdmin" }'>

    <div class="row m-4">
        <div class="card col-md-12">
            <div class="card-header row">
                <h1 class="col-md-12">Crear Nuevo Rol</h1>
            </div>
            <div class="card-body">
                    @if (isSuccess == false && isError == false)
                    {
                        <EditForm Model="rol" OnValidSubmit="Create">
                            <DataAnnotationsValidator />
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="Nombre" class="form-label">Nombre:</label>
                                    <InputText class="form-control" id="Nombre" @bind-Value="rol.Nombre" />
                                    <ValidationMessage For="() => rol.Nombre" />
                                </div>
                                <div class="col-md-6">
                                    <label for="Descripcion" class="form-label">Descripcion:</label>
                                    <InputText class="form-control" id="Descripcion" @bind-Value="rol.Descripcion" />
                                    <ValidationMessage For="() => rol.Descripcion" />
                                </div>
                                <div class="col-md-6 mt-3">
                                    <button type="submit" class="btn btn-primary w-100">Guardar</button>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <NavLink href="/lista-rol" class="btn btn-secondary w-100">Cancelar</NavLink>
                                </div>
                            </div>
                        </EditForm>
                    }
                    else if (isSuccess)
                    {
                        rol = new CrearRolDto();
                        isError = false;
                        <p class="alert alert-success">Rol creado con éxito.</p>
                        <NavLink href="/lista-rol" class="btn btn-success">Aceptar</NavLink>
                        <button type="button" @onclick="GoCreate" class="btn btn-secondary">Crear otro</button>
                    }
                    else if (isError)
                    {
                        <p class="alert alert-success">sucedio un error al intentar registrar.</p>
                        <NavLink href="/lista-rol" class="btn btn-danger">Aceptar</NavLink>
                    }
            </div>
        </div>
    </div>
</ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AutorizacionPorRol>
</ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AuthGuard>
@code {
    [Inject]
    RolService rolService { get; set; }

    CrearRolDto rol = new CrearRolDto();
    bool isSuccess = false;
    bool isError = false;

    private async Task Create()
    {
        int result = await rolService.CrearRol(rol);
        if (result != 0)
            isSuccess = true;
        else
            isError = true;
    }

    private void GoCreate()
    {
        isSuccess = false;
        isError = false;
    }
}