@page "/rol-detalles/{Id:int}"

@using ESFE_AGAPE_BODEGA.DTOs.RolDTOs;
@using Microsoft.AspNetCore.Components.Forms;
@using ESFE_AGAPE_BODEGA.BlazorWebAssembly.DataService;

<ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AuthGuard>
<ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AutorizacionPorRol Rol="Admin">
<div class="row m-4"    >
    <div class="card col-md-12">
        <div class="card-header row"><h1 class="col-md-12">Detalles de  Rol</h1></div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label for="Nombre">Nombre:</label>
                    <input type="text" class="form-control" disabled @bind="rol.Nombre" />
                </div>
                <div class="col-md-6">
                    <label for="Descripciom">Descripcion:</label>
                    <input type="text" class="form-control" disabled @bind="rol.Descripcion" />
                </div>
                <div class="col-md-12 mt-3">
                    <NavLink href="/lista-rol" class="btn btn-secondary w-100">Volver</NavLink>
                </div>
            </div>
        </div>
    </div>
   
</div>
</ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AutorizacionPorRol>
</ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AuthGuard>
@code {
    // Parámetro para recibir el ID del cliente desde la llamada al componente
    [Parameter]
    public int Id { get; set; }

    // Inyección de dependencia de CustomerService para acceder a sus métodos
    [Inject]
    RolService rolService { get; set; }

    // Creación de una instancia de GetIdResultCustomerDTO para almacenar los datos del cliente
     ObtenerRolIdDto rol = new ObtenerRolIdDto();

    /*
         *  se utiliza para realizar inicializaciones o tareas
         *  cuando se carga una página o componente de Blazor.
         * Este método se llama automáticamente cuando el componente se está inicializando
         *  antes de que se muestre en la interfaz de usuario.
         */
    protected override async Task OnInitializedAsync()
    {
        // En el momento de inicialización del componente, llama al método GetById de
        //  CustomerService para obtener los datos del cliente con el ID proporcionado
        rol = await rolService.ObtenerRol(Id);
    }

}