@page "/editar-rol/{Id:int}"
@using ESFE_AGAPE_BODEGA.DTOs.RolDTOs;
@using Microsoft.AspNetCore.Components.Forms;
@using System.ComponentModel.DataAnnotations;
@using ESFE_AGAPE_BODEGA.BlazorWebAssembly.DataService;

<ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AuthGuard>
    <ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AutorizacionPorRol Roles='new List<string> { "Admin", "SusAdmin" }'>
    <div class="row m-4">
        <div class="card col-md-12">
            <div class="card-header row"><h1>Editar Rol</h1></div>
            <div class="card-body">
                    @if (isSuccess == false && isError == false)
                    {
                        <EditForm Model="rol" OnValidSubmit="Edit">
                            <DataAnnotationsValidator />
                            <div class="row">
                                <div class="col-md-6">
                                        <label for="Nombre">Nombre:</label>
                                        <InputText class="form-control" @bind-Value="rol.Nombre" />
                                        <ValidationMessage For="() => rol.Nombre" />
                                </div>
                                <div class="col-md-12">
                                        <label for="Descripcion">Descripcion:</label>
                                        <InputTextArea class="form-control" @bind-Value="rol.Descripcion" />
                                        <ValidationMessage For="() => rol.Descripcion" />
                                </div>
                            </div>
                            <br />
                            <div class="row col-4">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary me-2">Guardar</button>
                                </div>
                                <div class="col-md-6">
                                    <NavLink href="/lista-tipoActivo" class="btn btn-secondary me-2">Cancelar</NavLink>
                                </div>
                            </div>
                        </EditForm>
                    }
                    else if (isSuccess)
                    {
                        rol = new EditarRolDto();
                        isError = false;
                        <p class="alert alert-success">Rol se modifico con éxito.</p>
                        <NavLink href="/lista-rol" class="btn btn-success">Aceptar</NavLink>
                    }
                    else if (isError)
                    {
                        <p class="alert alert-error">Sucedio un error al intentar modificar.</p>
                        <NavLink href="/lista-rol" class="btn btn-danger">Aceptar</NavLink>
                    }
            </div>
        </div>
    </div>
</ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AutorizacionPorRol>
</ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AuthGuard>
@code {
    // Declaración de un parámetro llamado "Id" que puede ser pasado al componente
    [Parameter]
    public int Id { get; set; }

    // Inyección de dependencia de CustomerService para
    // acceder a los servicios relacionados con los clientes
    [Inject]
    RolService rolService { get; set; }

    // Declaración e inicialización de un objeto "customer"
    //  para almacenar los detalles del cliente
    EditarRolDto rol = new EditarRolDto();

    // Declaración de variables booleanas para manejar el estado de éxito y error
    bool isSuccess = false;
    bool isError = false;

    // Método que se llama cuando se inicializa el componente
    protected override async Task OnInitializedAsync()
    {
        // Realiza una llamada asincrónica para obtener los
        // detalles del cliente por su Id
        var rolDetail = await rolService.ObtenerRol(Id);

        // Inicializa el objeto "customer" con los detalles del cliente obtenidos
       rol = new EditarRolDto(rolDetail);
    }

    // Método para editar el cliente
    private async Task Edit()
    {
        // Realiza una llamada asincrónica para editar la información del cliente
        int result = await rolService.ActualizarRol(rol);

        // Verifica si el resultado de la edición es diferente
        // de cero (éxito) o igual a cero (error)
        if (result != 0)
            isSuccess = true;
        else
            isError = true;
    }

}