<!-- NoPermisos.razor -->
@page "/SinPermisos"
<ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AuthGuard>
<h3>No tiene permisos para acceder a esta página.</h3>
<p>Por favor, contacte al administrador si cree que esto es un error.</p>
</ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AuthGuard>