@inject NavigationManager Navigation
@inject AuthService AuthService

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Layout)">
            <p>Lo sentimos, no hay nada en esta dirección.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthService.IsAuthenticated();

        if (!authState)
        {
            Navigation.NavigateTo("/login");
        }
    }
}