@page "/"

<ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AuthGuard>
<div class="container mt-5 text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p class="lead">¡Gracias por visitar nuestra aplicación!</p>
</div>
</ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AuthGuard>
