@page "/editar-tipoActivo/{Id:int}"

@using ESFE_AGAPE_BODEGA.DTOs.TipoActivoDTOs
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components
@using ESFE_AGAPE_BODEGA.BlazorWebAssembly.DataService

<ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AuthGuard>
    <ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AutorizacionPorRol Roles='new List<string> { "Admin", "SusAdmin" }'>
        <div class="row m-4">
            <div class="card col-md-12">
                <div class="card-header row"><h1>Editar Tipo Activo</h1></div>
                <div class="card-body">
                    @if (isSuccess == false && isError == false)
                    {
                        <EditForm Model="tipoActivo" OnValidSubmit="Edit">
                            <DataAnnotationsValidator />
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="Nombre" class="form-label">Nombre<span style="color:red;">*</span></label>
                                    <InputText class="form-control" id="Nombre" @bind-Value="tipoActivo.Nombre" />
                                    <ValidationMessage For="() => tipoActivo.Nombre" />
                                </div>
                                <div class="col-md-12">
                                    <label for="Descripcion" class="form-label">Descripción<span style="color:red;">*</span></label>
                                    <InputTextArea class="form-control" id="Descripcion" @bind-Value="tipoActivo.Descripcion" />
                                    <ValidationMessage For="() => tipoActivo.Descripcion" />
                                </div>
                            </div>
                            <br />
                            <div class="row col-4">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary me-2" disabled="@isSubmitting">Guardar</button>
                                </div>
                                <div class="col-md-6">
                                    <NavLink href="/lista-tipoActivo" class="btn btn-secondary me-2">Cancelar</NavLink>
                                </div>
                            </div>
                        </EditForm>
                    }

                    else if (isSuccess)
                    {
                        tipoActivo = new EditTipoActivoDTO();
                        isError = false;
                        <p class="alert alert-success">Tipo Activo se modificó con éxito.</p>
                        <NavLink href="/lista-tipoActivo" class="btn btn-success">Aceptar</NavLink>
                    }
                    else if (isError)
                    {
                        <p class="alert alert-danger">Ocurrió un error al intentar modificar el tipo activo.</p>
                        <NavLink href="/lista-tipoActivo" class="btn btn-danger">Aceptar</NavLink>
                    }
                </div>
            </div>
        </div>
    </ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AutorizacionPorRol>
</ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AuthGuard>

@code {
    [Parameter]
    public int Id { get; set; }

    [Inject]
    TipoActivoService tipoActivoService { get; set; }

    EditTipoActivoDTO tipoActivo = new EditTipoActivoDTO();
    bool isSuccess = false;
    bool isError = false;
    bool isSubmitting = false;

    protected override async Task OnInitializedAsync()
    {
        // Obtener el tipo de activo por su ID
        var tipoActivoDetail = await tipoActivoService.ObtenerPorId(Id);
        tipoActivo = new EditTipoActivoDTO(tipoActivoDetail);
    }

    private async Task Edit()
    {
        isSubmitting = true;
        try
        {
            // Actualizar el tipo de activo
            int result = await tipoActivoService.Actualizar(tipoActivo);
            isSuccess = result != 0;
            isError = !isSuccess;
        }
        finally
        {
            isSubmitting = false;
        }
    }
}