@page "/bodega-detalles/{Id:int}"

@using ESFE_AGAPE_BODEGA.DTOs.BodegaDTOs;
@using Microsoft.AspNetCore.Components.Forms;
@using ESFE_AGAPE_BODEGA.BlazorWebAssembly.DataService;

<ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AuthGuard>
    <ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AutorizacionPorRol Roles='new List<string> { "Admin", "SusAdmin" }'>
        <h3>Ver Bodega</h3>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="Nombre">Nombre:</label>
                    <input type="text" class="form-control" disabled @bind="bodega.Nombre" />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="Descripcion">Descripción:</label>
                    <input type="text" class="form-control" disabled @bind="bodega.Descripcion" />
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <NavLink href="/lista-bodega" class="btn btn-primary">Ir a buscar bodegas</NavLink>
            </div>
        </div>
    </ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AutorizacionPorRol>
</ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AuthGuard>

@code {
    // Parámetro para recibir el ID de la bodega desde la URL
    [Parameter]
    public int Id { get; set; }

    // Inyección de dependencia de BodegaService para acceder a los métodos relacionados con bodegas
    [Inject]
    BodegaService bodegaService { get; set; }

    // Creación de una instancia de GetIdResultBodegaDTO para almacenar los datos de la bodega
    GetIdResultBodegaDTO bodega = new GetIdResultBodegaDTO();

    // Método que se llama cuando el componente se inicializa
    protected override async Task OnInitializedAsync()
    {
        // Obtiene la información de la bodega por su ID al inicializar el componente
        bodega = await bodegaService.ObtenerBodega(Id);
    }
}
