@page "/editar-bodega/{Id:int}"
@using ESFE_AGAPE_BODEGA.DTOs.BodegaDTOs;
@using Microsoft.AspNetCore.Components.Forms;
@using System.ComponentModel.DataAnnotations;
@using ESFE_AGAPE_BODEGA.BlazorWebAssembly.DataService;

<ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AuthGuard>
    <ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AutorizacionPorRol Roles='new List<string> { "Admin", "SusAdmin" }'>
        <div class="row m-4">
            <div class="card col-md-12">
                <div class="card-header row"><h1>Editar Bodega</h1></div>
                <div class="card-body">
                    @if (isSuccess == false && isError == false)
                    {
                        <EditForm Model="bodega" OnValidSubmit="Edit">
                            <DataAnnotationsValidator />
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="Nombre">Nombre:</label>
                                    <InputText class="form-control" @bind-Value="bodega.Nombre" />
                                    <ValidationMessage For="() => bodega.Nombre" />
                                </div>
                                <div class="col-md-6">
                                    <label for="Descripcion">Descripción:</label>
                                    <InputText class="form-control" @bind-Value="bodega.Descripcion" />
                                    <ValidationMessage For="() => bodega.Descripcion" />
                                </div>
                                <div class="row col-4">
                                <div class="col-md-6 mt-3">
                                    <button type="submit" class="btn btn-primary me-2">Modificar</button>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <NavLink href="/lista-bodega" class="btn btn-secondary me-2">Cancelar</NavLink>
                                    </div>
                                </div>
                            </div>
                        </EditForm>
                    }
                    else if (isSuccess)
                    {
                        bodega = new EditBodegaDTO();
                        isError = false;
                        <p class="alert alert-success">Bodega se modificó con éxito.</p>
                        <NavLink href="/lista-bodega" class="btn btn-success">Aceptar</NavLink>
                    }
                    else if (isError)
                    {
                        <p class="alert alert-danger">Ocurrió un error al intentar modificar la bodega.</p>
                        <NavLink href="/lista-bodega" class="btn btn-danger">Aceptar</NavLink>
                    }
                </div>
            </div>
        </div>
    </ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AutorizacionPorRol>
</ESFE_AGAPE_BODEGA.BlazorWebAssembly.Pages.Login.AuthGuard>

@code {
    [Parameter]
    public int Id { get; set; }

    [Inject]
    BodegaService bodegaService { get; set; }

    EditBodegaDTO bodega = new EditBodegaDTO();

    bool isSuccess = false;
    bool isError = false;

    protected override async Task OnInitializedAsync()
    {
        var bodegaDetail = await bodegaService.ObtenerBodega(Id);
        bodega = new EditBodegaDTO(bodegaDetail);
    }

    private async Task Edit()
    {
        int result = await bodegaService.ActualizarBodega(bodega);

        if (result != 0)
            isSuccess = true;
        else
            isError = true;
    }
}
